exportPattern("^[[:alpha:]]+")
importFrom("graphics", "abline", "axis", "barplot", "hist", "legend", "lines", "mtext", "par",
           "plot", "points", "polygon", "rect", "text")
importFrom("grDevices", "rgb")
importFrom("stats", "approx", "approxfun", "binomial", "complete.cases", "cor", "density", "family", "glm", "integrate", "logLik", "median", "na.omit", "pchisq", "qf",
           "quantile", "resid", "xtabs", "fitted", "predict")
importFrom("methods", "is")

